# Environment and secrets
.env
.env.local
*.env

# Dependencies & Build artifacts
node_modules/
dist/
target/
venv/
.venv/
__pycache__/
*.class

# Logs
*.log
logs/

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db
